 # Pandas GroupBy function:

* Pandas Groupby function is used to split the data into groups based on some criteria.

* DataFrame.groupby()

  
Groupby operation involves following operations
* split the object
* apply a function
* combining the result

In [113]:
import pandas as pd

In [114]:
Data  = pd.read_csv("C:\\Users\\AdityaRaj Sharma\\Python Data sets\\covid_toy.csv")
Data.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [116]:
gr1 = Data.groupby(by = "cough")
gr1

In [117]:
gr1.groups

{'Mild': [0, 1, 2, 3, 4, 5, 9, 10, 11, 13, 14, 16, 18, 21, 23, 25, 26, 28, 30, 31, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 53, 54, 55, 59, 63, 64, 65, 66, 67, 69, 72, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 88, 91, 93, 95, 97], 'Strong': [6, 7, 8, 12, 15, 17, 19, 20, 22, 24, 27, 29, 32, 35, 44, 48, 51, 52, 56, 57, 58, 60, 61, 62, 68, 70, 71, 73, 74, 84, 87, 89, 90, 92, 94, 96, 98, 99]}

In [120]:
# Two columns

Data.groupby(['cough','gender']).groups

{('Mild', 'Female'): [3, 4, 5, 9, 10, 11, 16, 18, 23, 26, 33, 36, 38, 39, 40, 43, 46, 47, 54, 55, 59, 65, 69, 72, 77, 79, 80, 83, 85, 88, 95, 97], ('Mild', 'Male'): [0, 1, 2, 13, 14, 21, 25, 28, 30, 31, 34, 37, 41, 42, 45, 49, 50, 53, 63, 64, 66, 67, 75, 76, 78, 81, 82, 86, 91, 93], ('Strong', 'Female'): [7, 8, 12, 17, 19, 22, 24, 27, 29, 32, 35, 51, 52, 57, 60, 61, 62, 68, 70, 71, 74, 84, 90, 92, 96, 98, 99], ('Strong', 'Male'): [6, 15, 20, 44, 48, 56, 58, 73, 87, 89, 94]}

In [121]:
for cough, Data in gr1:
    print(cough)
    print(Data)

Mild
Female
Mild
Male
Strong
Female
Strong
Male

In [122]:
# converting to list

list(gr1)

[('Mild', 'Female'),
 ('Mild', 'Male'),
 ('Strong', 'Female'),
 ('Strong', 'Male')]

In [123]:
# converting to dict

dict(list(gr1))

{'Mild': 'Male', 'Strong': 'Male'}